In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import scipy.stats as stats

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import joblib

In [3]:
pd.set_option('display.max_columns', None)
data = pd.read_csv('../MLDeploy/AmesHousing.csv')
print(data.shape)
data.head()

(2930, 82)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,5,1960,1960,Hip,CompShg,BrkFace,Plywood,Stone,112.0,TA,TA,CBlock,TA,Gd,Gd,BLQ,639.0,Unf,0.0,441.0,1080.0,GasA,Fa,Y,SBrkr,1656,0,0,1656,1.0,0.0,1,0,3,1,TA,7,Typ,2,Gd,Attchd,1960.0,Fin,2.0,528.0,TA,TA,P,210,62,0,0,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,7,5,1968,1968,Hip,CompShg,BrkFace,BrkFace,None,0.0,Gd,TA,CBlock,TA,TA,No,ALQ,1065.0,Unf,0.0,1045.0,2110.0,GasA,Ex,Y,SBrkr,2110,0,0,2110,1.0,0.0,2,1,3,1,Ex,8,Typ,2,TA,Attchd,1968.0,Fin,2.0,522.0,TA,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(['Order','PID', 'SalePrice'], axis=1), data['SalePrice'],
    test_size=0.33, random_state=42)

X_train.shape, X_test.shape

((1963, 79), (967, 79))

In [5]:
y_train = np.log(y_train)
y_test = np.log(y_test)

In [6]:
cat_vars = [var for var in data.columns if data[var].dtype=='O']

cat_vars = cat_vars + ['MS SubClass']

X_train[cat_vars] = X_train[cat_vars].astype('O')
X_test[cat_vars] = X_test[cat_vars].astype('O')

In [7]:
len(cat_vars)

44

In [8]:
cat_vars_na = [var for var in cat_vars if X_train[var].isnull().sum()>0]

X_train[cat_vars_na].isnull().mean().sort_values(ascending=False)

Pool QC           0.994906
Misc Feature      0.960265
Alley             0.928171
Fence             0.801325
Fireplace Qu      0.495670
Garage Finish     0.052471
Garage Qual       0.052471
Garage Cond       0.052471
Garage Type       0.051452
Bsmt Exposure     0.025981
BsmtFin Type 2    0.025471
Bsmt Qual         0.024962
Bsmt Cond         0.024962
BsmtFin Type 1    0.024962
Mas Vnr Type      0.006113
dtype: float64

In [9]:
X_train[cat_vars_na].head()

,Alley,Mas Vnr Type,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin Type 2,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Pool QC,Fence,Misc Feature
2259,NaN,None,Gd,TA,No,Unf,Unf,NaN,Attchd,Fin,TA,TA,NaN,NaN,NaN
1615,NaN,None,Gd,TA,Gd,Unf,Unf,Gd,BuiltIn,Fin,TA,TA,NaN,NaN,NaN
1241,NaN,BrkFace,Gd,TA,No,LwQ,Unf,Gd,Attchd,RFn,TA,TA,NaN,NaN,NaN
647,NaN,None,TA,TA,No,BLQ,Unf,NaN,Detchd,Unf,TA,TA,NaN,NaN,NaN
2574,NaN,None,Fa,TA,Mn,BLQ,Unf,Gd,Attchd,RFn,TA,TA,NaN,GdPrv,NaN

In [10]:
with_string_missing = [var for var in cat_vars_na if X_train[var].isnull().
                      mean()> 0.1]

with_frequent_category = [var for var in cat_vars_na if var not in 
                          with_string_missing]

In [11]:
with_string_missing

['Alley', 'Fireplace Qu', 'Pool QC', 'Fence', 'Misc Feature']

In [12]:
with_frequent_category

['Mas Vnr Type',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin Type 2',
 'Garage Type',
 'Garage Finish',
 'Garage Qual',
 'Garage Cond']

In [13]:
X_train[cat_vars_na] = X_train[cat_vars_na].fillna('Missing')
X_test[cat_vars_na] = X_test[cat_vars_na].fillna('Missing')

In [14]:
for var in with_frequent_category:
    mode = X_train[var].mode()[0]
    
    print(var, mode)
    X_train[var].fillna(mode, inplace=True)
    X_test[var].fillna(mode, inplace=True)

Mas Vnr Type None
Bsmt Qual TA
Bsmt Cond TA
Bsmt Exposure No
BsmtFin Type 1 GLQ
BsmtFin Type 2 Unf
Garage Type Attchd
Garage Finish Unf
Garage Qual TA
Garage Cond TA

In [15]:
X_train[cat_vars].isnull().sum()

MS Zoning         0
Street            0
Alley             0
Lot Shape         0
Land Contour      0
Utilities         0
Lot Config        0
Land Slope        0
Neighborhood      0
Condition 1       0
Condition 2       0
Bldg Type         0
House Style       0
Roof Style        0
Roof Matl         0
Exterior 1st      0
Exterior 2nd      0
Mas Vnr Type      0
Exter Qual        0
Exter Cond        0
Foundation        0
Bsmt Qual         0
Bsmt Cond         0
Bsmt Exposure     0
BsmtFin Type 1    0
BsmtFin Type 2    0
Heating           0
Heating QC        0
Central Air       0
Electrical        0
Kitchen Qual      0
Functional        0
Fireplace Qu      0
Garage Type       0
Garage Finish     0
Garage Qual       0
Garage Cond       0
Paved Drive       0
Pool QC           0
Fence             0
Misc Feature      0
Sale Type         0
Sale Condition    0
MS SubClass       0
dtype: int64

In [16]:
[var for var in cat_vars_na if X_test[var].isnull().sum()>0]

[]

In [17]:
num_vars = [var for var in X_train.columns if var not in cat_vars and var 
           !='SalePrice']

len(num_vars)

35

In [18]:
num_vars_na = [var for var in num_vars if X_train[var].isnull().sum()>0]

In [19]:
print(len(num_vars_na))
X_train[num_vars_na].isnull().mean()

11

Lot Frontage      0.170148
Mas Vnr Area      0.006113
BsmtFin SF 1      0.000509
BsmtFin SF 2      0.000509
Bsmt Unf SF       0.000509
Total Bsmt SF     0.000509
Bsmt Full Bath    0.000509
Bsmt Half Bath    0.000509
Garage Yr Blt     0.052471
Garage Cars       0.000509
Garage Area       0.000509
dtype: float64

In [20]:
for var in num_vars_na:
    mean = X_train[var].mean()
    print(var, mean)
    
    X_train[var + '_na'] = np.where(X_train[var].isnull(),1,0)
    X_test[var + '_na'] = np.where(X_test[var].isnull(),1,0)
    
    X_train[var].fillna(mean, inplace=True)
    X_test[var].fillna(mean, inplace=True)

X_train[num_vars_na].isnull().mean()

Lot Frontage 69.37384898710866
Mas Vnr Area 101.58687852383393
BsmtFin SF 1 445.8124362895005
BsmtFin SF 2 49.145769622833846
Bsmt Unf SF 556.9648318042813
Total Bsmt SF 1051.9230377166157
Bsmt Full Bath 0.43119266055045874
Bsmt Half Bath 0.06116207951070336
Garage Yr Blt 1977.308064516129
Garage Cars 1.7568807339449541
Garage Area 471.3669724770642

Lot Frontage      0.0
Mas Vnr Area      0.0
BsmtFin SF 1      0.0
BsmtFin SF 2      0.0
Bsmt Unf SF       0.0
Total Bsmt SF     0.0
Bsmt Full Bath    0.0
Bsmt Half Bath    0.0
Garage Yr Blt     0.0
Garage Cars       0.0
Garage Area       0.0
dtype: float64

In [21]:
[var for var in num_vars_na if X_train[var].isnull().sum()>0]

[]

In [22]:
X_test[num_vars_na].isnull().sum()

Lot Frontage      0
Mas Vnr Area      0
BsmtFin SF 1      0
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
Bsmt Full Bath    0
Bsmt Half Bath    0
Garage Yr Blt     0
Garage Cars       0
Garage Area       0
dtype: int64

In [23]:
X_test[['Lot Frontage_na', 'Mas Vnr Area_na', 'Bsmt Full Bath_na',
         'Bsmt Half Bath_na', 'Garage Yr Blt_na', 'Garage Cars_na',
         'Garage Area_na']]

,Lot Frontage_na,Mas Vnr Area_na,Bsmt Full Bath_na,Bsmt Half Bath_na,Garage Yr Blt_na,Garage Cars_na,Garage Area_na
1357,1,0,0,0,0,0,0
2367,0,0,0,0,0,0,0
2822,0,0,0,0,0,0,0
2126,0,0,0,0,1,0,0
1544,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
1173,0,0,0,0,0,0,0
2874,0,0,0,0,1,0,0
344,0,0,0,0,0,0,0
839,0,0,0,0,0,0,0
1236,0,0,0,0,0,0,0

In [24]:
def elapsed_time(df, var):
    df[var]=df['Yr Sold']-df[var]
    return df

In [25]:
for var in ['Year Built', 'Year Remod/Add', 'Garage Yr Blt']:
    X_train[var]=elapsed_time(X_train,var)
    X_test[var]=elapsed_time(X_test,var)

In [26]:
X_train.drop(['Yr Sold'], axis=1,inplace=True)
X_test.drop(['Yr Sold'], axis=1, inplace=True)

In [27]:
for var in ['Lot Frontage', '1st Flr SF', 'Gr Liv Area']:
    X_train[var] = np.log(X_train[var])
    X_test[var] = np.log(X_test[var])

In [34]:
X_train['Lot Area'],param = stats.yeojohnson(X_train['Lot Area'])
X_test['Lot Area'] = stats.yeojohnson(X_test['Lot Area'], lmbda=param)

In [35]:
X_train[['BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF']].isnull().sum()

BsmtFin SF 1     0
BsmtFin SF 2     0
Bsmt Unf SF      0
Total Bsmt SF    0
dtype: int64

In [36]:
X_test[['BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF']].isnull().sum()

BsmtFin SF 1     0
BsmtFin SF 2     0
Bsmt Unf SF      0
Total Bsmt SF    0
dtype: int64

In [38]:
skewed = ['BsmtFin SF 2', 'Low Qual Fin SF', 'Enclosed Porch',
    '3Ssn Porch', 'Screen Porch', 'Misc Val']

In [39]:
for var in skewed:
    X_train[var]=np.where(X_train[var]==0,0,1)
    X_test[var]=np.where(X_test[var]==0,0,1)

In [46]:
isdigit()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [72]:
letters = 'abcdefghijklm'
let = 'andkfnpfmgkbjdingsloem'
l=[]
count=0

for i in let:
    if i not in letters:
        count+=1
        l.append(i)
    
print(l)
print('{}/{}'.format(count,len(let)))

['n', 'n', 'p', 'n', 's', 'o']
6/22

In [80]:
a = "How Can Mirrors Be Real If Our Eyes Aren't Real"

a = " ".join(word[0].upper()+word[1:] for word in a.split(" "))
print(a)

How Can Mirrors Be Real If Our Eyes Aren't Real

In [81]:
a = "How can mirrors be real if our eyes aren't real"
a.split(" ")

['How', 'can', 'mirrors', 'be', 'real', 'if', 'our', 'eyes', "aren't", 'real']

In [82]:
a.title()

"How Can Mirrors Be Real If Our Eyes Aren'T Real"

In [84]:
a = "How can mirrors be real if our eyes aren't real"
import string

def capital(s):
    
    s = string.capwords(s)
    
    return s

print(capital(a))

How Can Mirrors Be Real If Our Eyes Aren't Real

In [95]:
s = "1234567890"

print(s[-4:])

7890

In [91]:
s

AttributeError: 'str' object has no attribute 'slice'

In [100]:

s1=s[:-4]
s2=s[-4:]
s3 = ""
for i in s1:
    s1="#"+s2
print(s1)

#7890